.map-container {
  position: fixed;
  min-height: 0;
  height: 100vh;
  max-height: 100vh;
  min-width: 0;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.map__navbar {
  position: fixed;
  width: 100%;
  max-width: 100%;
  z-index: 700;
}

.map__page-bounds {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
}
