/* Overall button styling */
.welcome-button {
  box-sizing: border-box;
  margin: 0;
  border-radius: 7px;
}

.welcome-button__text {
  color: white;

  min-width: 140px;
  width: max-content;
  max-width: max-content;

  padding: 7.5px;
  margin: 0;

  font-weight: bold;
  font-size: 22px;
  text-align: center;

  border-radius: 7px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
}
.welcome-button__text:hover {
  cursor: pointer;
  background-color: white;
  color: var(--color-primary);
}

.welcome-button__loading:hover {
  cursor: default;
  background-color: white;
  color: var(--color-primary);
}

@media screen and (max-width: 440px) {
  .welcome-button {
    width: 100%;
    max-width: 400px;
  }
  .welcome-button__text {
    min-width: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
  }
}
