.welcome__globals {
  --welcome--image--height: 700px;
}
.welcome__about__text {
  display: inline;
  color: var(--color-text-basic);
}
.welcome__about__text--highlighted {
  display: inline;
  color: var(--color-subheader);
}

/* Overall Page Style */
.welcome__bg {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: var(--welcome--image--height);
  max-height: var(--welcome--image--height);

  background-image: var(--welcome-bg-file);
  background-repeat: no-repeat;
  background-position: center;
  background-position: left;
  background-size: cover;

  z-index: -999;
}

/* General placement of container of main content */
.welcome__content {
  display: flex;
  flex-direction: column;
  gap: 100px;

  height: calc(var(--welcome--image--height) - var(--navbar-height));
  min-width: 0;
  width: 100%;
  max-width: 100%;

  margin: 0;
  padding-top: 40px;
  box-sizing: border-box;
}

.welcome__content__header {
  color: white;

  text-align: center;
  font-size: 9.6rem;

  padding: 0;
  margin: 0;
}

.welcome__content__subheader {
  color: white;

  text-align: center;
  font-size: 3.6rem;
  font-weight: normal;

  padding: 0;
  margin: 0;
}

@media screen and (min-width: 725px) and (max-width: 832px) {
  .welcome__content__header {
    font-size: calc(23.2vw - 40px);
  }
  .welcome__content__subheader {
    font-size: calc(11.7vw - 40px);
  }
}

@media screen and (min-width: 450px) and (max-width: 725px) {
  .welcome__content__header {
    font-size: 8rem;
  }
  .welcome__content__subheader {
    font-size: 44.5px;
  }
}
@media screen and (max-width: 450px) {
  .welcome__content__header {
    font-size: calc(37vw - 40px);
    margin-left: -0.07em;
  }
  .welcome__content__subheader {
    font-size: 9.6vw;
    margin-left: -0.085em;
  }
}

.welcome__content__buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;

  min-width: 0;
  width: 100%;
  max-width: 100%;

  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}
@media screen and (max-width: 335px) {
  .welcome__content__buttons {
    flex-direction: column;
  }
}
